name: test self

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    container: apnpucky/gentoo-apn:latest
    strategy:
      fail-fast: false
      matrix:
        args: [
          '-C -p "=pkg-testing-tools-9999" --pretend',
          '-C -p "=pkg-testing-tools-9999"',
          '-f sci/sci-physics/collier/collier-*.ebuild --append-emerge "--autounmask=y --autounmask-write --autounmask-continue --autounmask-use=y" --max-use-combinations 1',
          '-p =pkg-testing-tools-9999',
          # https://github.com/APN-Pucky/pkg-testing-tools/issues/28
          "--test-feature-scope never --append-required-use '!pgo' --max-use-combinations 6 -p www-client/firefox --pretend",
          "-tfs never --append-required-use '!pgo' -muc 6 -p www-client/firefox --pretend",
          # https://bugs.gentoo.org/918693 an ebuild without -r0 but any other -rN
          "-p '~sci-physics/lhapdf-6.5.4' --max-use-combinations 0",
        ]
    steps:
    - run: emerge --sync
    - run: git clone --depth 1 https://github.com/gentoo/sci.git
    - run: echo 'app-portage/pkg-testing-tools **' > /etc/portage/package.accept_keywords/pkg-testing-tools
    - run: |
        if [[ "${{ github.event_name }}" == "pull_request" ]]; then
          echo "EGIT_COMMIT=${{ github.event.pull_request.head.sha }}" >> /var/db/repos/gentoo/app-portage/pkg-testing-tools/pkg-testing-tools-9999.ebuild
          echo "EGIT_BRANCH=${{ github.event.pull_request.head.ref }}" >> /var/db/repos/gentoo/app-portage/pkg-testing-tools/pkg-testing-tools-9999.ebuild
        else
          echo "EGIT_COMMIT=${{ github.sha }}" >> /var/db/repos/gentoo/app-portage/pkg-testing-tools/pkg-testing-tools-9999.ebuild
          echo "EGIT_BRANCH=${GITHUB_REF#refs/heads/}" >> /var/db/repos/gentoo/app-portage/pkg-testing-tools/pkg-testing-tools-9999.ebuild
        fi
    - run: cat /var/db/repos/gentoo/app-portage/pkg-testing-tools/pkg-testing-tools-9999.ebuild
    - run: emerge =pkg-testing-tools-9999
    - run: pkg-testing-tool ${{ matrix.args }}
